<% layout('layout') -%>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        Sign In with Google
    </a>
</nav>
<div class="container">
    <div class="card">
        <p>Please Sign In with Google to view your Google+ contacts</p>
        <a href="<%= url %>" class="btn btn-primary">Sign In</a>
    </div>

</div>